body,html{
	width: 100%;
	height: 100%;
	font-family: 'Fredoka One', cursive;
	background: url(header.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover; 
}

h1{
	font-size: 2rem;
	color: #e2dbdb;
	text-transform: uppercase;
}


.btn{
	font-weight: 700;
	border-radius:300px;
	text-transform: uppercase;
}
.btn-primary{
	background-color: #F05F44;
	border-color:#F05F44; 
}
.btn:hover{
	background-color: #B40066;
	border-color: #B40066;
}

.btn-xl{
	padding: 1rem 2rem;
}